:root {
   --color-primary: #242EDB;
  --color-m-primary: #3C538E;
  --color-l-primary: #797FEA;
  --color-text-danger: #F11010;

  --color-background: #FFFFFF;
  --color-background-l: #F6F6F6;
  --color-light: #ECECEB;
  --color-light-m: #B2B3B9;

  --color-text-light: #EBF3EA;
  --color-text-light-m: #999999;
  --color-text-dark: #222222;
  --color-text-dark-m: #000000;
}
